<nav>
  <ul class="pagination">
    <li class="page-item" [ngClass]="{ disabled: currentPage === 0 }">
      <a class="page-link" (click)="currentPage = currentPage - 1">Prev</a>
    </li>
    <ng-container *ngFor="let image of images; let i = index">
      <li
        class="page-item"
        [ngClass]="{ active: i === currentPage }"
        *ngIf="checkWindowIndex(i)"
      >
        <!--use *ngFor on the element that you want to be duplicated-->
        <a class="page-link" (click)="currentPage = i">{{ i + 1 }}</a>
      </li>
    </ng-container>
    <li
      class="page-item"
      [ngClass]="{ disabled: currentPage === images.length - 1 }"
    >
      <a class="page-link" (click)="currentPage = currentPage + 1">Next</a>
    </li>
  </ul>
</nav>

<div>
  <h3 appClass [textColor]="'green'">{{ images[currentPage].title }}</h3>
  <img [src]="images[currentPage].url" [alt]="images[currentPage].title" />
</div>

<!-- <div [ngSwitch]="currentPage">
  <p *ngSwitchCase="0">Current page is 0</p>
  <p *ngSwitchCase="1">Current page is 1</p>
  <p *ngSwitchCase="3">Current page is 3</p>
  <p *ngSwitchDefault>Default page: unknown</p>
</div> -->
